body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
  transition: 0.3s;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 30px;
}

nav a {
  margin: 0 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

nav button {
  margin-left: 10px;
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

/* BIO */
.bio {
  display: block !important;
  text-align: center;
}

.bio img {
  display: block;
  margin: 0 auto 20px auto; /* center + space below */
  width: 160px;
  border-radius: 50%;
}

.bio div {
  display: block;
}

.bio img {
  width: 160px;
  border-radius: 50%;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

/* BUTTON */
.btn {
  background: black;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

/* TAB SYSTEM */
.tab {
  display: none;
  animation: fade 0.4s;
}

.tab.active {
  display: block;
}

/* ANIMATION */
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* DARK MODE */
.dark {
  background: #121212;
  color: white;
}

.dark .card {
  background: #1e1e1e;
}

.contact {
  display: flex;
  justify-content: center;   /* center alignment */
  gap: 30px;                 /* space between LinkedIn & Email */
  margin-top: 30px;
}

.contact a {
  display: flex;
  align-items: center;
  gap: 12px;                 /* space between icon and text */
  padding: 12px 20px;        /* better button size */
  border-radius: 10px;
  background: white;
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Hover effect */
.contact a:hover {
  transform: translateY(-3px);
}

/* Icon size fix */
.contact svg {
  width: 22px;
  height: 22px;
}

/* Dark mode */
.dark .contact a {
  background: #1e1e1e;
  color: white;
}

#achievements p {
  margin: 12px 0;
  font-size: 16px;
}

#themeToggle {
  margin-left: 15px;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: white;
  color: black;
  font-weight: bold;
}


#achievements .card {
  margin: 15px 0;
  font-size: 16px;
}
.dark #themeToggle {
  background: black;
  color: white;
}


iframe {
  border: none;
  margin-top: 20px;
  border-radius: 10px;
}


.cv-container {
  position: relative;
}

/* PDF */
.cv-container iframe {
  width: 100%;
  height: 600px;
  border: none;
}

/* Fullscreen button */
#fullscreenBtn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 8px 12px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: rgba(0,0,0,0.7);
  color: white;
}

.bio img {
  width: 160px;
  border-radius: 50%;
}

.bio p {
  max-width: 600px;
}

/* Hover effect */
#fullscreenBtn:hover {
  background: black;
}
