html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
  transition: 0.3s;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  background: #222;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav button {
  margin-left: 20px;
  cursor: pointer;
}

/* HEADER */
header {
  background: #333;
  color: white;
  padding: 40px;
  text-align: center;
}

/* SECTIONS */
section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

/* BIO */
.bio {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bio img {
  width: 150px;
  border-radius: 50%;
}

/* CARDS */
.card {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

/* BUTTON */
.btn {
  background: black;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

/* DARK MODE */
.dark {
  background: #121212;
  color: white;
}

.dark .card {
  background: #1e1e1e;
}
